/* screen - complete-popup */

#complete-level-popup {
  z-index: 1;
  display: none;
  top: 12rem;
  position: absolute;
}

.complete-popup {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  min-width: 274px;
}

.complete-popup .overlap-group3 {
  height: 18rem;
  position: relative;
  width: 274px;
  gap: 0.5rem;
  flex-direction: column;
  padding-top: 4rem;
}

.complete-popup .overlap-group {
  height: 266px;
  display: flex;
  justify-content: center;
  /* left: 11px; */
  position: absolute;
  top: -10rem;
  width: 249px;
}

.complete-popup .complete {
  height: 84px;
  left: 41px;
  position: absolute;
  top: -3rem;
  width: 192px;
}

.complete-popup .ellipse-1939 {
  background-color: var(--haiti);
  border-radius: 105px;
  filter: blur(33px);;
  height: 210px;
  left: 21px;
  position: absolute;
  top: 44px;
  width: 210px;
}

.complete-popup .ellipse-1876 {
  background-color: var(--lemon-chiffon);
  border-radius: 115.85px/76.11px;
  filter: blur(42px);;
  height: 152px;
  left: 9px;
  mix-blend-mode: overlay;
  position: absolute;
  top: 100px;
  transform: rotate(-7.17deg);
  width: 232px;
}

.complete-popup .ellipse-1875 {
  background-color: var(--lemon-chiffon);
  border-radius: 87.72px/57.63px;
  filter: blur(37px);;
  height: 115px;
  left: 37px;
  mix-blend-mode: color-dodge;
  opacity: 0.78;
  position: absolute;
  top: 119px;
  transform: rotate(-7.17deg);
  width: 175px;
}

.complete-popup .pip-character {
  height: 203px;
  /* left: 67px; */
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 109px;
}

.complete-popup .bg {
  background-color: var(--white);
  border: 5px solid;
  border-color: var(--haiti);
  border-radius: 63px;
  height: 291px;
  left: 0;
  position: absolute;
  top: 168px;
  width: 274px;
}

.complete-popup .overlap-group1 {
  cursor: pointer;
  height: 56px;
  left: 57px;
  /* position: absolute; */
  top: 373px;
  width: 158px;
  min-width: 0;
}

.complete-popup .yay {
  /* -webkit-text-stroke: 2.24px var(--violent-violet); */
  color: var(--violent-violet);
  font-family: var(--font-family-gilroy-extrabold);
  font-size: 18.6px;
  font-weight: 800;
  height: 3rem;
  left: 0;
  letter-spacing: 0.26px;
  line-height: 17.4px;
  /* position: absolute; */
  text-align: center;
  /* text-shadow: 0px 3.73px 0px #00000040; */
  top: 18px;
  white-space: nowrap;
  width: 156px;
}

.complete-popup .you-did-it-you-gues {
  /* -webkit-text-stroke: 2px var(--haiti); */
  height: 85px;
  left: 15px;
  letter-spacing: 0.60px;
  line-height: 16.8px;
  /* position: absolute; */
  text-align: center;
  top: 214px;
  width: 240px;
}

.complete-popup .address {
  /* -webkit-text-stroke: 2.89px #2f7167; */
  color: var(--new-green);
  font-family: var(--font-family-gilroy-extrabold);
  font-size: 32px;
  font-weight: 800;
  height: 30px;
  left: 46px;
  letter-spacing: 0.50px;
  line-height: 29.9px;
  /* position: absolute; */
  text-align: center;
  top: 315px;
  white-space: nowrap;
}

.complete-popup .overlap-group2 {
  height: 85px;
  left: 38px;
  position: absolute;
  top: 112px;
  width: 197px;
}

.complete-popup .star-2 {
  height: 36px;
  left: 10px;
  position: absolute;
  top: 0;
  width: 36px;
}

.complete-popup .round-complete {
  -webkit-text-stroke: 4px var(--haiti);
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: 31.1px;
  font-weight: 900;
  left: 2px;
  letter-spacing: 0;
  line-height: 26.8px;
  position: absolute;
  text-align: center;
  text-shadow: 4.19px 4.19px 0px #0000001a;
  top: 14px;
  transform: rotate(-5.00deg);
}

.complete-popup .star-1 {
  height: 30px;
  left: 167px;
  position: absolute;
  top: 55px;
  width: 30px;
}
