@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,900,700,800|Roboto:700|Inter:500");
/* The following line is used to measure usage of this code. You can remove it if you want. */

@font-face {
  font-family: "Gilroy-ExtraBold";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/Radomir Tinkov - Gilroy-ExtraBold.otf") format("opentype");
}


.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

* {
  box-sizing: border-box;
}

.mask-group {
  height: 33px;
  left: 0;
  position: absolute;
  top: 0;
  width: 241px;
}

.rectangle-7588 {
  background-color: #3bdf7d;
  border: 2.98px solid;
  border-color: var(--violent-violet);
  border-radius: 28.65px;
  box-shadow: 0px 9.7px 0px #00000026 , 0px 3.42px 0px #300d65 , inset 1.49px 1.49px 0px 3.73px #ffffff66;
  height: 56px;
  left: 2px;
  /* position: absolute; */
  top: 0;
  width: 156px;
}