/* screen - frame-238080 */

#ready-level-popup {
  display: none;
  top: 4rem;
  position: absolute;
}

.frame-238080 {
  align-items: center;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-height: 163px;
  width: 274.5px;
}

.frame-238080 .overlap-group6 {
  height: 104px;
  position: relative;
  width: 229px;
}

.frame-238080 .start-in-0005 {
  -webkit-text-stroke: 2px #0000001a;
  height: 13px;
  left: 53px;
  letter-spacing: 0.60px;
  line-height: 13.1px;
  position: absolute;
  text-align: center;
  top: 91px;
  white-space: nowrap;
}

.frame-238080 .round {
  align-items: center;
  display: flex;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: fit-content;
}

.frame-238080 .frame-238072 {
  min-width: 30px;
}

.frame-238080 .star-2 {
  height: 36px;
  top: 67px;
  width: 36px;
}

.frame-238080 .round-1 {
  -webkit-text-stroke: 5px var(--haiti);
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: 48.1px;
  font-weight: 900;
  letter-spacing: 0;
  line-height: 41.4px;
  margin-left: -8px;
  position: relative;
  text-align: center;
  text-shadow: 4.19px 4.19px 0px #0000001a;
  transform: rotate(-5.00deg);
  white-space: nowrap;
  width: fit-content;
}

.frame-238080 .frame-238073 {
  margin-left: -8px;
  min-width: 25px;
}

.frame-238080 .star-1 {
  height: 30px;
  top: 0;
  width: 30px;
}

.frame-238080 .letter-new-round-1 {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  width: fit-content;
}

.frame-238080 .letter-new-round {
  height: 42.42px;
  min-width: 44.42px;
  position: relative;
}

.frame-238080 .overlap-group {
  align-items: flex-start;
  background-color: var(--white);
  border: 3.48px solid;
  border-color: var(--haiti);
  border-radius: 13.21px;
  display: flex;
  min-width: 42px;
}

.frame-238080 .t {
  height: 42px;
  letter-spacing: 0.42px;
  line-height: normal;
  margin-left: -2px;
  margin-top: -5px;
  text-align: center;
  width: 42px;
}

.frame-238080 .o {
  height: 42px;
  letter-spacing: 0.42px;
  line-height: normal;
  margin-left: -4px;
  margin-top: -3.5px;
  text-align: center;
  width: 42px;
}

.frame-238080 .price {
  height: 42px;
  letter-spacing: 0.42px;
  line-height: normal;
  margin-left: -4px;
  margin-top: -3.5px;
  text-align: center;
  width: 42px;
}

.frame-238080 .price-1 {
  height: 42px;
  letter-spacing: 0.42px;
  line-height: normal;
  margin-left: -4px;
  margin-top: -3.5px;
  text-align: center;
  width: 42px;
}

.frame-238080 .c {
  height: 42px;
  letter-spacing: 0.42px;
  line-height: normal;
  margin-left: -4px;
  margin-top: -3.5px;
  text-align: center;
  width: 42px;
}

.frame-238080 .letter-new-round-2 {
  height: 42.42px;
  margin-right: -2.00px;
  min-width: 44.42px;
  position: relative;
}

.frame-238080 .a {
  height: 42px;
  letter-spacing: 0.42px;
  line-height: normal;
  margin-left: -4px;
  margin-top: -3.5px;
  text-align: center;
  width: 42px;
}

.frame-238080 .frame {
  height: 100px;
  position: relative;
}

.frame-238080 .star {
  left: -2px;
  position: absolute;
}
