:root { 
  --black: #000000;
  --black-2: #000000a8;
  --calypso: #3f6a8c;
  --cape-cod: #3b4040b2;
  --cape-cod-2: #3c4141b2;
  --cherry-pie: #2a0756;
  --dodger-blue: #329dff;
  --gunsmoke: #868686;
  --haiti: #14113b;
  --lemon-chiffon: #fffcc2;
  --lavender-gray: #c6b8d8;
  --mantis: #64d95a;
  --pixie-powder: #371891;
  --radical-red: #ff3364;
  --riptide: #90f0e0;
  --spring-green: #32ff84;
  --sunglow: #ffd232;
  --violent-violet: #300d65;
  --vis-vis: #f9ef9c;
  --white: #ffffff;
  --white-2: #ffffff1c;
  --zircon: #f5fdff;
  --pixie-powder-2: #371891bf;
  --athens-gray: #ede7f5;
  --new-green: #25b9a2;
  --daisy-bush: #530a95;
  --purple-plum: #9c50ff;

  --rem-width-screen: 15rem;
  --keyboard-button-size: 2.1rem;
  --keyboard-button-height-size: 2.5rem;
  --keyboard-button-font-size: 1.5rem;
  --chat-message-font-size: 1rem;
  --tooltip-margin-top: 1rem;

  --empty-tiles-size-width: 1.7rem;
  --empty-tiles-size-height: 1.7rem;

  --empty-tiles-size-width-smaller: 1.5rem;
  --empty-tiles-size-height-smaller: 1.5rem;

  --keyboard-gap: 0.8dvw;
 
  --font-size-l: 1.275rem;    /* 20.4px / 16px */
  --font-size-m: 1.125rem;    /* 18px / 16px */
  --font-size-s: 0.875rem;    /* 14px / 16px */
  --font-size-xl: 1.38125rem; /* 20.9px / 16px */
  --font-size-xs: 0.8125rem;  /* 13px / 16px */
  --font-size-xxl: 2.30625rem; /* 23.7px / 16px */
  --font-size-xxs: 0.75625rem; /* 12.1px / 16px */
 
  --font-family-gilroy-extrabold: "Gilroy-ExtraBold", Helvetica;
  --font-family-inter: "Inter", Helvetica;
  --font-family-poppins: "Poppins", Helvetica;
  --font-family-roboto: "Roboto", Helvetica;
}
.gilroy-extra-extra-bold-cape-cod-20-4px {
  color: var(--cape-cod);
  font-family: var(--font-family-gilroy-extrabold);
  font-size: var(--keyboard-button-font-size);
  font-style: normal;
  font-weight: 800;
}

.gilroy-extra-extra-bold-haiti-18px {
  color: var(--haiti);
  font-family: var(--font-family-gilroy-extrabold);
  font-size: var(--font-size-m);
  font-style: normal;
  letter-spacing: 0.60px;
  font-weight: 800;
}

.gilroy-extra-extra-bold-haiti-20-9px {
  color: var(--haiti);
  font-family: var(--font-family-gilroy-extrabold);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 800;
}

.gilroy-extra-extra-bold-pixie-powder-14px {
  color: var(--pixie-powder);
  font-family: var(--font-family-gilroy-extrabold);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 800;
}

.gilroy-extra-extra-bold-white-14px {
  color: var(--white);
  font-family: var(--font-family-gilroy-extrabold);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 900;
}

.gilroy-extra-extra-bold-gunsmoke-12-1px {
  background-color: #0000001c;
  font-family: var(--font-family-gilroy-extrabold);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 800;
}

.gilroy-extra-extra-bold-white-14px {
  color: var(--white);
  font-family: var(--font-family-gilroy-extrabold);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 800;
}

.roboto-bold-cape-cod-8-9px {
  color: var(--cape-cod-2);
  font-family: var(--font-family-roboto);
  font-size: 0.7rem;
  font-style: normal;
  font-weight: 700;
}

.gilroy-extra-extra-bold-haiti-13-9px {
  color: var(--haiti);
  font-family: var(--font-family-gilroy-extrabold);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 800;
}

.gilroy-extra-extra-bold-celeste-56px {
  color: var(--celeste);
  font-family: var(--font-family-gilroy-extrabold);
  font-size: 56px;
  font-style: normal;
  font-weight: 800;
}

.gilroy-extra-extra-bold-pixie-powder-15px {
  color: var(--pixie-powder);
  font-family: var(--font-family-gilroy-extrabold);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 800;
}

.poppins-normal-pixie-powder-13px {
  color: var(--pixie-powder-2);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}

.gilroy-extra-extra-bold-white-12-8px {
  color: var(--white);
  font-family: var(--font-family-gilroy-extrabold);
  font-size: 12.8px;
  font-style: normal;
  font-weight: 800;
}