:root {
  --font-size: 0.8rem;
}

h1, h4 {
    text-align: center;
     margin-block-start: 0.5em;
      margin-block-end: 0.1em;
      color: black;
   }
   
   body {
     touch-action: manipulation;
     background-color: #ecf0f1;
   }

   .letter-count {
      font-size: 0.6rem;
   }
   
   #game-board {
     display: flex;
     align-items: center;
     flex-direction: column;
   }
   
   .letter-box {
     border: 2px solid gray;
     border-radius: 3px;
     margin: 2px;
     font-size: 1rem;
     font-weight: 700;
     height: 2rem;
     width: 1.5rem;
     display: flex;
     justify-content: center;
     align-items: center;
     text-transform: uppercase;
   }
   
   .filled-box {
     border: 2px solid black;
   }

   .button-marked {
    background-color: #4CAF50;
    color: white;
   }
   
   .letter-row-local {
     display: flex;
   }
   
   .letter-row-opponent {
     display: flex;
     color: black;
     background-color: antiquewhite;
   }
   
   #keyboard-cont {
     margin: 0rem 1rem 1rem 1rem;
     display: flex;
     flex-direction: column;
     align-items: center;
   }
   
   #keyboard-cont div {
     display: flex;
   }
   
   .second-row {
     margin: 0.5rem 0;
   }
   
   .fourth-row {
     margin: 0.2rem 0;
   }

   .filled-box {
    border: 2px solid black;
  }
   #input-guess {
    border: 2px solid gray;
    border-radius: 3px;
    margin: 2px;
    font-size: var(--font-size);
    color: black;
    height: 1.5rem;
    width: 19rem;
    display: flex;
    justify-content: center;
    align-items: center;
   }

   .keyboard-button {
     border: 1px solid black;
     color:black;
     font-size: 1.2rem;
     font-weight: 700;
     padding-top: 0.8rem;
     padding-bottom: 0.8rem;
     padding-left: 0.6rem;
     padding-right: 0.6rem;
     margin: 0 2px;
     cursor: pointer;
     text-transform: uppercase;
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
   }
   
   #connect_button {
     padding-top: 0.8rem;
     padding-bottom: 0.8rem;
   }

   .letter-local {
    display: flex;
  }

   .pagination {
    display: flex;
    margin: auto;
    align-items: center;
    padding: 10px;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
  }
  
  .pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
  }
  
  .pagination a:hover:not(.active) {background-color: #ddd;}

  #chat-container {
    margin: auto;
    display: flex;
    max-height: 7rem;/* Adjust the height according to your requirements */
    max-width: 30rem;
    overflow-y: scroll;
  }
  
  #chat-messages {
    padding: 10px;
    max-height: 4rem;/* Adjust the height according to your requirements */
    min-height: 4rem;
    overflow-y: scroll;
    font-size: var(--font-size);
    font-weight: 700;
  }

  #chat-messages div {
    margin-top: 5px;
  }
  

  /* test chat box */
  
  #chatborder {
    border: 1px solid #ccc!important;
    border-width: 1px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 7px;
    border-radius: 15px;
    max-width: 20rem;
  }

  /* test icons */

  #players {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: auto;
    padding: 0;
  }
  ul li {
    /* display: inline-block; */
    background-color: pink;
    display: flex;
    margin: 10px;
    border-radius: 80%;
    height: 40px;
    width: 40px;  
  }
  ul li a {
    color: #000;
    display: table-cell;
    vertical-align: middle; 
    text-align: center; 
    margin: auto;

     
  }