/* screen - word-hunt */

html, body {
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100dvh;
}

.word-hunt {
  align-items: flex-start;
  /* background-color: var(--white); */
  border: 1px none;
  display: flex;
  /* gap: 1476px;
  height: 883px;
  overflow: hidden;
  width: 1728px; */
}

.word-hunt .rectangle-7596 {
  height: 216px;
  margin-left: -1853px;
  margin-top: -8736px;
  width: 377px;
}

.word-hunt .overlap-group5 {
  /* height: 947px;
  width: 1728px; */
  position: relative;
}

.word-hunt .bg {
  /* height: 883px;
  width: 1728px; */
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
}

.word-hunt .bottom-shading {
  align-items: flex-end;
  background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.51) 45.35%, rgba(0, 0, 0, 0.48) 54.17%, rgba(0, 0, 0, 0.3) 76.04%, rgba(0, 0, 0, 0) 100%);
  display: flex;
  /* gap: 410px; */
  height: 20rem;
  /* left: 2.7rem; */
  min-width: 22rem;
  position: absolute;
  top: 15rem;
}

.word-hunt .line-44 {
  height: 521px;
  width: 2px;
}

.word-hunt .desktop {
  align-items: flex-start;
  display: flex;
  gap: 805px;
  height: 911px;
  left: 18px;
  min-width: 1683px;
  position: absolute;
  top: 36px;
}

.word-hunt .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 548px;
  margin-top: 4px;
  min-height: 843px;
  width: 457px;
}

.word-hunt .logo {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 9px;
  min-height: 248px;
  width: 297px;
}

.word-hunt .logo-1 {
  height: 186px;
  margin-right: 2.0px;
  object-fit: cover;
  width: 207px;
}

.word-hunt .guess-words-open-do {
  /* -webkit-text-stroke: 2px var(--black-2); */
  color: var(--pixie-powder);
  font-family: var(--font-family-gilroy-extrabold);
  font-size: var(--font-size-m);
  font-weight: 800;
  height: 51px;
  letter-spacing: 0.60px;
  line-height: 17.4px;
  margin-right: 6.0px;
  text-align: center;
  width: 295px;
}

.word-hunt .chat-1 {
  align-items: flex-start;
  align-self: flex-end;
  cursor: pointer;
  display: flex;
  gap: 12px;
  min-width: 446px;
  transition: all 0.2s ease;
}

.word-hunt .chat-1:hover {
  transform: translate(5px, 0);
}

.word-hunt .overlap-group1 {
  align-items: center;
  background-color: var(--white);
  border-radius: 23px 23px 0px 0px;
  display: flex;
  height: 47px;
  min-width: 266px;
  padding: 4.8px 6.0px;
}

.word-hunt .overlap-group-4 {
  align-self: flex-end;
  height: 37px;
  position: relative;
  width: 39px;
}

.word-hunt .freind {
  height: 36px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 36px;
}

.word-hunt .online-indication {
  background-color: var(--mantis);
  border: 3px solid;
  border-color: var(--white);
  border-radius: 6.67px;
  height: 13px;
  left: 26px;
  position: absolute;
  top: 24px;
  width: 13px;
}

.word-hunt .name {
  height: 13px;
  letter-spacing: 0.34px;
  line-height: 13.1px;
  margin-left: 9px;
  min-width: 101px;
  white-space: nowrap;
}

.word-hunt .close_round {
  height: 18px;
  margin-bottom: 1.0px;
  margin-left: 77px;
  width: 18px;
}

.word-hunt .other {
  align-items: flex-start;
  display: flex;
  gap: 12px;
  min-width: 168px;
}

.word-hunt .chat {
  align-items: flex-end;
  background-color: var(--white);
  display: flex;
  height: 47px;
  justify-content: flex-end;
  min-width: 48px;
  padding: 4.8px 3.0px;
}

.word-hunt .overlap-group {
  height: 37px;
  position: relative;
  width: 39px;
}

.word-hunt .pic {
  height: 36px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 35px;
}

.word-hunt .flex-col-1 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 70px;
  min-height: 911px;
  width: 421px;
}

.word-hunt .nav-1 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 23px;
  margin-right: 2.0px;
  position: relative;
  width: fit-content;
}

.word-hunt .nav-how-to-button {
  cursor: pointer;
  height: 65px;
  margin-right: -2.00px;
  min-width: 67px;
  position: relative;
}

.word-hunt .overlap-group-5 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 62px;
  box-shadow: 0px 8px 0px -3px #00000012;
  display: flex;
  height: 65px;
  min-width: 65px;
  padding: 13.7px 13.3px;
}

.word-hunt .how-to-play {
  -webkit-text-stroke: 1.76px var(--pixie-powder);
  letter-spacing: 0;
  line-height: 12.0px;
  min-height: 36px;
  min-width: 34px;
  opacity: 0;
  text-align: center;
  text-shadow: 1.17px 1.17px 0px #0000001a;
  transform: scale(1.1);
}

.word-hunt .how-to-play.animate-enter {
  animation: animate-enter-frames 0.20s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
  transform: scale(1.1);
}

@keyframes animate-enter-frames {
  from{opacity: 0;
transform: scale(1.1);
}
to{opacity: 1;
transform: scale(1);
}
}

.word-hunt .nav-friends-button {
  background-color: var(--white);
  border-radius: 62px;
  box-shadow: 0px 8px 0px -3px #00000012;
  height: 65px;
  min-width: 65px;
  position: relative;
}

.word-hunt .overlap-group1-1 {
  height: 63px;
  left: 2px;
  position: relative;
  width: 58px;
}

.word-hunt .online-indication-1 {
  background-color: #81df78;
  border: 3px solid;
  border-color: var(--white);
  border-radius: 8px;
  height: 16px;
  left: 0;
  position: absolute;
  top: 46px;
  width: 16px;
}

.word-hunt .nav {
  height: 65px;
  margin-right: -2.00px;
  min-width: 67px;
  position: relative;
}

.word-hunt .overlap-group2 {
  align-items: flex-start;
  /* background-image: url(../img/bg-1@2x.png);
  background-size: 100% 100%; */
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: 70px;
  padding: 5.0px 3.7px;
  width: 65px;
}

.word-hunt .room-name {
  color: var(--white);
  font-family: var(--font-family-gilroy-extrabold);
  font-size: var(--font-size-xs);
  font-weight: 800;
  height: 19px;
  letter-spacing: 0.34px;
  line-height: 12.2px;
  margin-left: 0.05px;
  margin-top: 14px;
  text-align: center;
  text-shadow: 0px 0px 5px #00000059;
  width: 57px;
}

.word-hunt .overlap-group-6 {
  align-items: flex-start;
  background-image: url(../img/subtract.svg);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  margin-left: 0.11px;
  min-height: 17px;
  padding: 0.8px 10.1px;
  width: 58px;
}

.word-hunt .ellipse-1900 {
  align-self: flex-end;
  background-color: #fa5043;
  border-radius: 1.13px;
  height: 2px;
  margin-right: 2.29px;
  width: 2px;
}

.word-hunt .live {
  color: #fa5043;
  font-family: var(--font-family-gilroy-extrabold);
  font-size: 11px;
  font-weight: 800;
  height: 9px;
  letter-spacing: 0.34px;
  line-height: 10.3px;
  text-align: center;
  white-space: nowrap;
  width: 37px;
}

.word-hunt .overlap-group3 {
  align-items: center;
  /* background-color: #ffcb46;
  border: 3px solid; */
  border-color: var(--white);
  border-radius: 62px;
  box-shadow: 0px 8px 0px -3px #00000012;
  display: flex;
  height: 65px;
  min-width: 65px;
  padding: 15.2px 6.3px;
  background-color: var(--white);
  border: 5px solid;
  border-color: var(--haiti);
  border-radius: 63px;
}

.word-hunt .overlap-group9 {
  align-items: flex-start;
  /* background-color: #ffcb46;
  border: 3px solid; */
  border-color: var(--white);
  border-radius: 62px;
  box-shadow: 0px 8px 0px -3px #00000012;
  display: flex;
  height: 65px;
  min-width: 65px;
  padding: 15.2px 6.3px;
}

.word-hunt .solo-game {
  -webkit-text-stroke: 1.76px #9a3507;
  letter-spacing: 0;
  line-height: 12.0px;
  min-height: 26px;
  text-align: center;
  text-shadow: 1.17px 1.17px 0px #0000001a;
  transform: rotate(-5.00deg);
  width: 43px;
}

.word-hunt .register {
  align-items: flex-start;
  display: flex;
  height: 512px;
  justify-content: flex-end;
  min-width: 421px;
  padding: 0.0px 0;
  transition: all 0.5s ease;
}

.word-hunt .register:hover {
  transform: scale(1.05);
}

.word-hunt .overlap-group2-1 {
  height: 448px;
  position: relative;
  width: 421px;
}

.word-hunt .overlap-group1-2 {
  height: 423px;
  left: 120px;
  position: absolute;
  top: 0;
  width: 301px;
}

.word-hunt .tooltip {
  align-items: flex-end;
  display: flex;
  left: 0;
  padding: 3px;
  position: absolute;
  top: 122px;
  width: fit-content;
  min-width: 300px;
}

.word-hunt .vector-564 {
  height: 16px;
  min-width: 21.05px;
  position: relative;
}

.word-hunt .frame-238064 {
  box-shadow: 0px 4px 4px #00000040 , 0px 2px 0px #00000040;
  align-items: center;
  background: linear-gradient(180deg, rgb(254, 254, 255) 0%, rgb(241, 240, 255) 100%);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 295px;
  margin-left: -14px;
  overflow: hidden;
  padding: 17px;
  position: relative;
  width: fit-content;
  min-width: 300px;
}

.word-hunt .group-238075 {
  cursor: pointer;
  height: 40.7px;
  margin-right: -2.00px;
  min-width: 251px;
  position: absolute;
  bottom: 10px;
}

.word-hunt .overlap-group-7 {
  background-color: #9c50ff;
  border: 3.99px solid;
  border-color: #530a95;
  border-radius: 30.65px;
  box-shadow: inset -1.6px 2.39px 0px 3.19px #ffffff59;
  height: 41px;
  position: relative;
  width: 249px;
}

.word-hunt .place {
  color: var(--white);
  font-family: var(--font-family-gilroy-extrabold);
  font-size: 12.8px;
  font-weight: 800;
  height: 11px;
  left: 69px;
  letter-spacing: 0.27px;
  line-height: 11.9px;
  position: absolute;
  text-align: center;
  top: 11px;
  white-space: nowrap;
  width: 104px;
}

.word-hunt .frame-238071 {
  background-color: #ede7f5;
  border: 2px solid;
  border-color: #c6b8d8;
  border-radius: 35px;
  height: 34px;
  min-width: 249px;
  position: absolute;
  padding: 10px;
  bottom: 60px;
}

.word-hunt .how-it-works {
  color: #371891bf;
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xs);
  font-weight: 400;
  height: 39px;
  left: 13px;
  letter-spacing: 0;
  line-height: 24.6px;
  position: absolute;
  top: -5px;
  width: 236px;
}

.word-hunt .play-anywhere-meet {
  color: transparent;
  font-family: var(--font-family-gilroy-extrabold);
  font-size: var(--font-size-s);
  font-weight: 800;
  letter-spacing: 0.60px;
  line-height: 13.5px;
  margin-left: -2.00px;
  position: absolute;
  text-align: center;
  width: 245px;
  bottom: 120px
}

.word-hunt .span0 {
  color: #4ca881;
}

.word-hunt .game-launch-soon {
  -webkit-text-stroke: 3.27px var(--haiti);
  color: var(--white);
  cursor: pointer;
  font-family: var(--font-family-poppins);
  font-size: 31.5px;
  font-weight: 900;
  left: 28px;
  letter-spacing: 0;
  line-height: 27.1px;
  position: absolute;
  text-shadow: 2.74px 2.74px 0px #0000001a;
  top: 101px;
  transform: rotate(-5.00deg);
  transition: all 0.2s ease;
}

.word-hunt .game-launch-soon:hover {
  transform: scale(1.1);
}

.word-hunt .image-229 {
  height: 203px;
  left: 136px;
  position: absolute;
  top: 0;
  width: 162px;
}

.word-hunt .pip-character {
  height: 178px;
  /* left: 0; */
  object-fit: cover;
  position: absolute;
  top: 270px;
  width: 130px;
}

.word-hunt .in-game-top-ui {
  align-items: center;
  background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(234, 253, 250) 100%);
  border-radius: 20px;
  box-shadow: 0px 3px 0px #0000000d;
  display: flex;
  gap: 1rem;
  /* height: 2rem; */
  min-height: 30px;
  justify-content: center;
  left: 680px;
  padding: 3px 6px;
  max-width: 15rem;
  margin-top: 0.4rem;
  margin-left: auto;
  margin-right: auto;
  /* margin-bottom: auto;
  margin-right: auto;
  margin-left: auto; */
  /* position: absolute; */
  top: 60px;
  /* width: fit-content; */
}

.word-hunt .players {
  align-items: center;
  display: flex;
  gap: 0.2rem;
  height: 28px;
  position: relative;
  width: fit-content;
  /* padding-left: 0.8rem; */
}

.word-hunt .player-you {
  background-image: url(../img/player_1.png);
  border: 3px solid #ffd232;
  border-radius: 20px;
  background-position: 50% 50%;
  background-size: cover;
}

.word-hunt .player-3 {
  background-image: url(../img/player_4.png);
  border: 3px solid #329dff;
  border-radius: 20px;
  background-position: 50% 50%;
  background-size: cover;
}

.word-hunt .player-1 {
  background-image: url(../img/player_2.png);
  border: 3px solid #32ff84;
  border-radius: 20px;
  background-position: 50% 50%;
  background-size: cover;
}

.word-hunt .player-2 {
  background-image: url(../img/player_3.png);
  border: 3px solid #ff3364;
  border-radius: 20px;
  background-size: 100% 100%;
}

.word-hunt .letters {
  align-items: center;
  display: flex;
  gap: 8.17px;
  justify-content: center;
  position: relative;
  width: fit-content;
}

.word-hunt .letter {
  height: 21px;
  min-width: 23px;
  position: relative;
}

.word-hunt .overlap-group-1 {
  align-items: flex-start;
  background-color: var(--white-2);
  border: 2.25px solid;
  /* border-color: var(--gunsmoke); */
  border-radius: 4.59px;
  display: flex;
  min-width: 21px;
}

.word-hunt .price {
  height: 18px;
  width: 18px;
  letter-spacing: 0.24px;
  line-height: normal;
  text-align: center;
}

.word-hunt .o {
  height: 21px;
  letter-spacing: 0.24px;
  line-height: normal;
  margin-left: -2px;
  margin-top: -2.3px;
  text-align: center;
  width: 21px;
}

.word-hunt .d {
  height: 21px;
  letter-spacing: 0.24px;
  line-height: normal;
  margin-left: -2px;
  margin-top: -2.3px;
  text-align: center;
  width: 21px;
}

.word-hunt .c {
  height: 21px;
  letter-spacing: 0.24px;
  line-height: normal;
  margin-left: -2px;
  margin-top: -2.3px;
  text-align: center;
  width: 21px;
}

.word-hunt .letter-2 {
  height: 21px;
  margin-right: -2.00px;
  min-width: 23px;
  position: relative;
}

.word-hunt .w {
  height: 21px;
  letter-spacing: 0.24px;
  line-height: normal;
  margin-left: -2px;
  margin-top: -2.3px;
  text-align: center;
  width: 21px;
}

.word-hunt .info-button {
  cursor: pointer;
  background-color: #d9d9d9;
  border-radius: 11.5px;
  height: 23px;
  min-width: 23px;
  position: relative;
}

.word-hunt .text {
  /* -webkit-text-stroke: 2px var(--white); */
  color: #00000069;
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-s);
  font-weight: 700;
  height: 22px;
  /* left: -1px; */
  letter-spacing: -0.77px;
  line-height: 15.9px;
  position: absolute;
  text-align: center;
  /* top: -2px; */
  width: 22px;
}

.word-hunt .in-game-secondary-ui {
  align-items: center;
  display: flex;
  gap: 268px;
  justify-content: center;
  left: 680px;
  padding: 3px 1px;
  /* position: absolute; */
  top: 122px;
  /* width: fit-content; */
}

.word-hunt .in-game-timer {
  background-color: #000000FF;
  border-radius: 55.48px;
  min-width: 2.5rem;
  /* min-height: 1.5rem; */
  position: relative;
  margin: auto;
}

.word-hunt .text-1 {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-s);
  font-weight: 400;
  /* height: 23px; */
  left: -5px;
  letter-spacing: 0;
  line-height: normal;
  /* position: absolute; */
  text-align: center;
  /* top: 7px; */
  /* width: 47px; */
}

.word-hunt .in-game-score-progress {
  background-color: #0000001c;
  border: 5px solid;
  border-color: #ffffff8c;
  border-radius: 55.48px;
  min-width: 2.5rem;
  min-height: 2.5rem;
  position: relative;
}

.word-hunt .text-2 {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-weight: 400;
  font-size: var(--font-size-m);
  /* height: 23px; */
  left: -5px;
  letter-spacing: 0;
  line-height: normal;
  /* position: absolute; */
  text-align: center;
  /* top: 7px; */
  /* width: 47px; */
}

.word-hunt .span0-1 {
  font-weight: 800;
}

.word-hunt .keyboard {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
  /* left: 669px; */
  min-height: 27rem;
  max-width: 22rem;
  margin: auto;
  position: relative;
  /* position: absolute; */
  /* top: 646px; */
  /* width: 386px; */
}

.word-hunt .overlap-group2-2 {
  align-items: flex-start;
  background-color: #04040485;
  border: 2px solid;
  border-color: #ffffff70;
  border-radius: 34px;
  display: flex;
  /* height: 4rem; */
  margin-top: -2px;
  min-width: 362px;
  padding: 0.5rem 1rem;
}

.word-hunt .input-to-chat {
  caret-color: #ffffff99;
  color: #ffffff99;
  font-family: var(--font-family-inter);
  font-size: var(--chat-message-font-size);
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24.6px;
  min-height: 2rem;
  margin: 0.2rem;
  /* min-width: var(--rem-width-screen); */
  white-space: nowrap;
}

.word-hunt .keyboard-1 {
  flex-direction: column;
  gap: 0.3rem;
  min-height: 7rem;
  /* width: 386px; */
}

button, [type=button], [type=reset], [type=submit] {
  -webkit-appearance: none !important;
  appearance: none !important;
  border: none;
  -webkit-tap-highlight-color: rgba(0,0,0,.3) !important;
}

.word-hunt .r1 {
  align-items: center;
  display: flex;
  gap: var(--keyboard-gap);
  justify-content: center;
  position: relative;
  width: fit-content;
}

.word-hunt .keyboard-button {
  /* -webkit-appearance: button; */
  /* -moz-appearance: none; */
  /* appearance: button; */
  cursor: pointer;
  background-color: var(--zircon);
  border-radius: 11px;
  box-shadow: 0px 6px 4px #00000026 , 0px 1px 0px #a1d3cc , inset 0px -2px 0px #a2d3cc;
  /* height: 2.5rem; */
  min-width: var(--keyboard-button-size);
  position: relative;
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,.3) !important;
}

.word-hunt .price-1 {
  left: 2px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 5px;
  width: 31px;
}

.word-hunt .q {
  left: 2px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 5px;
  width: 31px;
}

.word-hunt .q-button-letter {
  min-width: 2.2rem;
  min-height: 2.5rem;
  justify-content: center;
  align-items: center;
  display: flex;
}

.word-hunt .keyboard-button-1 {
  /* -webkit-appearance: none;
  -moz-appearance: none; */
  background-color: var(--vis-vis);
  box-shadow: 0px 6px 4px #00000026 , 0px 1px 0px #dec481 , inset 0px -2px 0px #dec481;
  /* min-width: 35px; */
}

.word-hunt .overlap-group-2 {
  height: 28px;
  left: 2px;
  position: relative;
  top: 2px;
  width: 31px;
}

.word-hunt .letter-count {
  right: 0.2rem;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 0.2rem;
  white-space: nowrap;
  pointer-events: none;
}

.word-hunt .keyboard-item {
  gap: var(--keyboard-gap);
  justify-content: center;
  margin-left: 1.0px;
  position: relative;
  width: fit-content;
}

.word-hunt .r4 {
  align-items: flex-start;
  display: flex;
  gap: var(--keyboard-gap);
  margin-left: 1.0px;
  position: relative;
  width: fit-content;
}

.word-hunt .keyboard-button-key {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: pointer;
  background-color: var(--riptide);
  box-shadow: 0px 6px 4px #00000026 , 0px 1px 0px #75b1a9 , inset 0px -2px 0px #74b1a8;
  min-width: 3rem;
  min-height: var(--keyboard-button-height-size);
  overflow: hidden;
  justify-content: center;
  align-items: center;
  display: flex;
}

.word-hunt .icon-material-icon-backspace_black_24dp {
  height: var(--keyboard-button-font-size);
  /* left: 13px; */
  /* position: absolute; */
  /* top: 7px; */
  width: var(--keyboard-button-font-size);
  min-width: 2rem;
  min-height: 2rem;
}

.word-hunt .keyboard-button-key-1 {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: pointer;
  background-color: var(--zircon);
  border-radius: 22px;
  box-shadow: 0px 6px 4px #00000026 , 0px 1px 0px #a1d3cc , inset 0px -2px 0px #a2d3cc;
  height: var(--keyboard-button-height-size);
  min-width: 16rem;
  overflow: hidden;
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
}

.word-hunt .x {
  color: var(--cape-cod);
  font-family: var(--font-family-gilroy-extrabold);
  font-size: var(--keyboard-button-font-size);
  font-weight: 800;
  left: 1px;
  letter-spacing: 2.45px;
  line-height: normal;
  /* position: absolute; */
  text-align: center;
  top: 8px;
  /* width: 150px; */
}

.word-hunt .enter-button {
  align-items: flex-end;
  /* box-shadow: 1px 1px 3px #affff2; */
  display: flex;
  /* left: 11px; */
  /* padding: 5.0px 5.0px; */
  position: relative;
  /* top: 3px; */
}

.word-hunt .subtract {
  /* height: var(--keyboard-button-font-size);
  width: var(--keyboard-button-font-size);
  min-width: 2rem;
  min-height: 2rem; */
  height: var(--keyboard-button-height-size);
  width: 1.5em;
}

.word-hunt .tail {
  /* height: 38px;
  min-width: 38px; */
  position: relative;
}

.word-hunt .pic-number-side-view {
  border-radius: 10.74px;
  height: 2rem;
  position: relative;
  width: 2rem;
  align-items: center;
  display: flex;
  justify-content: center;
}

.word-hunt .tile-bg {
  align-items: flex-start;
  background-color: var(--cherry-pie);
  border-radius: 10.74px;
  box-shadow: 0px 3.33px 0px #00000026;
  display: flex;
  /* height: 2rem; */
  left: 0;
  /* min-width: 2rem; */
  position: absolute;
  top: 0;
}

.word-hunt .letter-1 {
  /* height: 35px;
  left: 0; */
  letter-spacing: 0.22px;
  line-height: normal;
  position: absolute;
  text-align: center;
  /* top: 0;
  width: 38px; */
}

.word-hunt .tail-1 {
  align-items: flex-start;
  background-color: var(--black);
  border: 3px solid;
  border-color: var(--calypso);
  border-radius: 10.78px;
  box-shadow: inset 0px 0px 0px 4px #ffffff33;
  display: flex;
  /* min-height: 2rem;
  min-width: 2rem; */
}

@media only screen and (max-height: 750px) {

  .word-hunt .word {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    width: fit-content;
    gap: 0.05rem;
  }

  .gilroy-extra-extra-bold-cherry-pie-23-7px {
    color: var(--cherry-pie);
    font-family: var(--font-family-gilroy-extrabold);
    font-size: var(--font-size-l);
    font-style: normal;
    font-weight: 800;
  }

  .word-hunt .words-tiles {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    min-height: 13rem;
    max-height: 13rem;
    min-width: var(--rem-width-screen);
    justify-content: flex-start;
    /* width: fit-content; */
  }

  #chat-area {
    max-height: 6rem;
    min-height: 6rem;
  }

  .word-hunt .tail-1 {
    align-items: flex-start;
    background-color: var(--black);
    border: 3px solid;
    border-color: var(--calypso);
    border-radius: 10.78px;
    box-shadow: inset 0px 0px 0px 4px #ffffff33;
    display: flex;
    min-height: 1.5rem;
    min-width: 1.5rem;
  }

  .word-hunt .highlights {
    align-items: flex-start;
    background-image: url(../img/intersect.svg);
    background-size: 100% 100%;
    display: flex;
    height: var(--empty-tiles-size-width-smaller);
    margin-left: -3px;
    margin-top: -3.0px;
    min-width: var(--empty-tiles-size-height-smaller);
    padding: 0.0px 0.0px;
  }

  .word-hunt .tile-fill {
    background-color: var(--sunglow);
    border: 2.77px solid;
    border-color: var(--cherry-pie);
    border-radius: 0.6rem;
    box-shadow: inset 0px 0.92px 0px 1.27px #ffffffb2 , inset 0px -5.55px 0.37px 1.85px #0000000d;
    height: 1.7rem;
    width: 1.8rem;
  }

  .word-hunt .overlap-group-3 {
    border-radius: 10.74px;
    height: 1.7rem;
    position: relative;
    width: 1.8rem;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .word-hunt .letter-tile {
    align-items: flex-start;
    display: flex;
  }
}

@media only screen and (min-height: 750px) {

  .word-hunt .word {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    width: fit-content;
    gap: 0.1rem;
  }

  .gilroy-extra-extra-bold-cherry-pie-23-7px {
    color: var(--cherry-pie);
    font-family: var(--font-family-gilroy-extrabold);
    font-size: var(--font-size-xl);
    font-style: normal;
    font-weight: 800;
  }

  .word-hunt .words-tiles {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    min-height: 15rem;
    max-height: 18rem;
    min-width: var(--rem-width-screen);
    justify-content: flex-start;
    /* width: fit-content; */
  }

  #chat-area {
    max-height: 8rem;
    min-height: 8rem;
  }

  .word-hunt .tail-1 {
    align-items: flex-start;
    background-color: var(--black);
    border: 3px solid;
    border-color: var(--calypso);
    border-radius: 10.78px;
    box-shadow: inset 0px 0px 0px 4px #ffffff33;
    display: flex;
    /* min-height: 2rem;
    min-width: 2rem; */
  }

  .word-hunt .highlights {
    align-items: flex-start;
    background-image: url(../img/intersect.svg);
    background-size: 100% 100%;
    display: flex;
    height: var(--empty-tiles-size-width);
    margin-left: -3px;
    margin-top: -3.0px;
    min-width: var(--empty-tiles-size-height);
    padding: 0.0px 0.0px;
  }

  .word-hunt .tile-fill {
    background-color: var(--sunglow);
    border: 2.77px solid;
    border-color: var(--cherry-pie);
    border-radius: 0.6rem;
    box-shadow: inset 0px 0.92px 0px 1.27px #ffffffb2 , inset 0px -5.55px 0.37px 1.85px #0000000d;
    height: 2rem;
    width: 2.1rem;
  }

  .word-hunt .overlap-group-3 {
    border-radius: 0.6rem;
    height: 2rem;
    position: relative;
    width: 2rem;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .word-hunt .letter-tile {
    align-items: flex-start;
    display: flex;
    min-width: 2rem;
  }
}

.word-hunt .intersect {
  height: 11px;
  width: 11px;
}

.word-hunt .highlights-1 {
  background-image: url(../img/intersect-2.svg);
}

.word-hunt .highlights-2 {
  background-image: url(../img/intersect-4.svg);
}

.word-hunt .tile-fill-1 {
  background-color: var(--spring-green);
}

.word-hunt .tile-fill-2 {
  background-color: var(--radical-red);
}

.word-hunt .highlights-3 {
  background-image: url(../img/intersect-6.svg);
}

.word-hunt .highlights-4 {
  background-image: url(../img/intersect-8.svg);
}

.word-hunt .highlights-5 {
  background-image: url(../img/intersect-10.svg);
}

.word-hunt .tile-fill-3 {
  background-color: var(--dodger-blue);
}

.word-hunt .chat-2 {
  /* left: 690px; */
  /* position: absolute; */
  margin: auto;
  flex-direction: column;
  overflow-y: scroll;
  pointer-events: all;
  /* overflow-x: hidden; */
  scroll-behavior: smooth;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  -webkit-mask-image: -webkit-gradient(linear, left 40%, left top, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; /* for Firefox */
  /* max-height: 8rem;
  min-height: 8rem; */
  max-width: 22rem;
  top: 469px;
}

.chat-2::-webkit-scrollbar {
  display: none;
}

.word-hunt .keyboard-button-2 {
  /* -webkit-appearance: none;
  -moz-appearance: none; */
  cursor: pointer;
  border-radius: 11px;
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
}

.word-hunt .highlights-6 {
  align-items: flex-start;
  background-size: 100% 100%;
  display: flex;
  height: 33px;
  margin-left: -3px;
  margin-top: -3.0px;
  min-width: 33px;
  padding: 0.0px 0.0px;
}

.word-hunt .keyboard-2 {
  align-items: center;
  display: flex;
}

.word-hunt .pic-4 {
  height: 33px;
  object-fit: cover;
  position: absolute;
}

.word-hunt .tile-fill-4 {
  border: 2.77px solid;
  border-color: var(--cherry-pie);
  border-radius: 10.74px;
  box-shadow: inset 0px 0.92px 0px 2.77px #ffffffb2 , inset 0px -5.55px 0.37px 1.85px #0000000d;
  height: 35px;
  width: 38px;
}

.chat-row {
  max-height: 100px;
  display: flex;
  flex-direction: row;
}

.chat-row-icon {
  min-width: 1.5rem;
  min-height: 1.5rem;
  max-width: 1.5rem;
  max-height: 1.5rem;
  margin: 5px;
  background-image: url(../img/player_2.png);
  background-size: 100% 100%;
  border: 2px solid red;
  border-radius: 20px;
}

.chat-row-username-and-message {
  margin: 5px;
}

.chat-row-username {
  color: #95a5a6;
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xs);
  font-weight: 500;
  height: 16px;
  letter-spacing: 0;
  line-height: 15.4px;
  white-space: nowrap;
}

.chat-row-message {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-s);
  font-weight: 500;
  max-width: 220px;
  gap: 0.2rem;
  letter-spacing: 0;
  word-wrap: break-word;
  /* line-height: 24.6px; */
  text-shadow: 0px 1px 0px #0707078c;
  white-space: pre-wrap;
  display: flex;
}

.correct-word {
  /* -webkit-text-stroke: 2px #000000e3; */
  color: #5cff9e;
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-s);
  font-weight: 900;
  letter-spacing: 0;
  line-height: 24.6px;
  text-shadow: 0px 2px 0px #0707078c;
  white-space: nowrap;
  /* justify-content: center; */
  text-align: center;
}

.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.full-view {
  background-image: url(../img/bg.png);
  background-position: center;
  /* background-repeat: no-repeat; */
  background-attachment: fixed;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.checkmark {
  font-weight: 600;
  color: white;
  font-size: 12px;
  -webkit-text-stroke: 0;
}

/* -----  top half css -----  */


.top-half-view {
  /* align-items: center; */
  display: flex;
  margin: auto;
  /* gap: 8.17px; */
  justify-content: center;
  position: relative;
  width: fit-content;
}

.cta-view {
  max-width: 7rem;
  align-items: center;
  gap: 0.8rem;
  display: flex;
  text-align: center;
  flex-direction: column;
  margin-top: var(--tooltip-margin-top);
  /* justify-content: center; */
}

.middle-top-half {
  max-width: 16.5rem;
  min-width: 16.5rem;
  margin-top: var(--tooltip-margin-top);
  gap: 0.4rem;
  text-align: center;
  justify-content: center;
    display: flex;
    flex-direction: column;
}

.refresh {
  cursor: pointer;
  height: 1.5rem;
  min-width: 18px;
  position: relative;
}

.score-friends-view {
  /* min-width: 4rem; */
  align-items: center;
  gap: 0.4rem;
  display: flex;
  text-align: center;
  flex-direction: column;
  margin-top: var(--tooltip-margin-top);
}

.score-progress {
  align-items: flex-start;
  background-image: url(../img/my-score.svg);
  background-size: 100% 100%;
  display: flex;
  height: 47px;
  min-width: 47px;
  padding: 0 4px;
  position: relative;
}

.number-2 {
  color: var(--cherry-pie);
  font-family: var(--font-family-poppins);
  font-size: 16px;
  font-weight: 800;
  height: 47px;
  line-height: 15.1px;
  margin-top: -1px;
  width: 39px;
}

.be-first-to-play-view {
  align-items: center;
  background-color: var(--sunglow);
  border-radius: 62px;
  box-shadow: 0px 6px 0px -3px #0000002e;
  display: flex;
  height: 50px;
  min-width: 50px;
  padding: 11.2px 3.9px;
  position: relative;
}

.be-the-first-to-play {
  color: var(--cherry-pie);
  cursor: pointer;
  font-family: var(--font-family-poppins);
  font-size: 9.5px;
  font-weight: 900;
  letter-spacing: 0;
  line-height: 8.8px;
  min-height: 27px;
  min-width: 42px;
  text-align: center;
  transform: rotate(-5.00deg);
  transition: all 0.2s ease;
}

.be-the-first-to-play:hover {
  transform: scale(1.1);
}

.how-to {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 62px;
  box-shadow: 0px 6px 0px -3px #0000002e;
  display: flex;
  height: 50px;
  min-width: 50px;
  padding: 8.7px 11px;
  position: relative;
  cursor: pointer;
}

.how-to-play-stroke {
  display: block;
  height: 31px;
  opacity: 0;
  transform: scale(1.1);
  width: 28px;
}

.how-to-play-stroke.animate-enter {
  animation: animate-enter-frames 0.20s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: scale(1.1);
}

@keyframes animate-enter-frames {
  from{opacity: 0;
transform: scale(1.1);
}
to{opacity: 1;
transform: scale(1);
}
}

.invite-friend-view {
  cursor: pointer;
  align-items: center;
  background-color: var(--white);
  border-radius: 62px;
  box-shadow: 0px 6px 0px -3px #0000002e;
  display: flex;
  height: 50px;
  justify-content: flex-end;
  min-width: 50px;
  padding: 15.8px 5.1px;
  position: relative;
}

.invite-friend {
  color: var(--dodger-blue);
  cursor: pointer;
  font-family: var(--font-family-poppins);
  font-size: 10.6px;
  font-weight: 900;
  letter-spacing: 0;
  line-height: 9.1px;
  min-height: 18px;
  min-width: 39px;
  text-align: center;
  transform: rotate(-5.00deg);
  transition: all 0.2s ease;
}

.invite-friend:hover {
  transform: scale(1.1);
}

.add-to-home-screen-view {
  cursor: pointer;
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 62px;
  box-shadow: 0px 6px 0px -3px #0000002e;
  display: flex;
  height: 50px;
  justify-content: flex-end;
  min-width: 50px;
  padding: 12.6px 6.1px;
  position: relative;
}

.add-to-home-screen {
  color: var(--radical-red);
  cursor: pointer;
  font-family: var(--font-family-poppins);
  font-size: 9.2px;
  font-weight: 900;
  letter-spacing: 0;
  line-height: 7.9px;
  min-height: 24px;
  min-width: 37px;
  text-align: center;
  transform: rotate(-5.00deg);
  transition: all 0.2s ease;
}

.add-to-home-screen:hover {
  transform: scale(1.1);
}

.players-side-view {
  align-items: flex-start;
  display: flex;
  position: relative;
  width: fit-content;
  flex-direction: column;
  gap: 0.8rem;
}

.player {
  height: 36.49px;
  min-width: 30px;
  position: relative;
}

.pic-number-side-view {
  height: 36px;
  position: relative;
  width: 30px;
}

.pic {
  background-image: url(../img/pic@2x.png);
  background-size: 100% 100%;
  height: 28px;
  position: absolute;
  width: 28px;
}

.player-score-number {
  /* -webkit-text-stroke: 1px var(--pixie-powder); */
  left: 0;
  letter-spacing: 0;
  top: 1.4rem;
  line-height: 17.2px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
}

.player-score-number-1 {
  /* -webkit-text-stroke: 1px #32ff84; */
  -webkit-text-stroke: 1px #00001c;
}

.player-score-number-2 {
  /* -webkit-text-stroke: 1px #ff3364; */
  -webkit-text-stroke: 1px #00001c;
}

.player-score-number-3 {
  /* -webkit-text-stroke: 1px #329dff; */
  -webkit-text-stroke: 1px #00001c;
}

.player-score-number-you {
  /* -webkit-text-stroke: 1px #ffd232; */
  -webkit-text-stroke: 1px #00001c;
}

.player-1 {
  height: 36.82px;
}

.player2 {
  height: 37px;
  position: relative;
  width: 30px;
}

.pic-1 {
  background-image: url(../img/pic-1@2x.png);
  background-size: 100% 100%;
  width: 28px;
}

.player-2 {
  height: 35.98px;
}

.pic-2 {
  background-image: url(../img/pic-2@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  width: 28px;
}

.number-1 {
  line-height: 17.2px;
  position: absolute;
  white-space: nowrap;
}

/* NiceTry */

.chat-points-1 {
  color: var(--cherry-pie);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xs);
  font-weight: 600;
  align-items: center;
  background-color: var(--white);
  border-radius: 16px;
  display: flex;
  gap: 2px;
  max-height: 1rem;
  justify-content: center;
  text-align: center;
  padding: 0px 7px;
  position: relative;
  display: flex;
  width: fit-content;
  text-shadow: none;
}

.chat-points-correct-word {
  top: 0.2rem;
}


/* -----  /top half css -----  */

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes keyboard-tap {
  0% {
    color: rgba(0, 0, 0, 0);
  }
  50% {
    color: rgba(0,0,0,0.3);
  }
  100% {
    color: rgba(0,0,0,0);
  }
}

@keyframes fade {
  0% { opacity: 0 }
  15% { opacity: 1 }
  75% { opacity: 1 }
  100% { opacity: 0 }
}